body {
  color: #fff;
  background: #17181c;
  font-family: sans-serif;
}

header {
  padding: 10px 30px;
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 3rem;
  letter-spacing: 7px;
  font-weight: 800;
}

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #555;
}

.footer__link {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.footer__link:hover {
  color: rgb(255, 137, 210);
}

.footer__image {
  width: 100px;
  height: 100px;
}

footer .copyright {
  font-size: 14px;
  color: white;
  text-align: center;
}

footer .copyright a {
  color: white;
}

footer .copyright a:hover {
  color: rgb(255, 137, 210);
}

footer .copyright:before {
  content: '©';
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 50px;
}

.sources {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 145px;
  width: 20%;
}

.news {
  width: 75%;
}

@media (max-width: 900px) {
  .main {
    margin: 0;
  }

  .sources {
    width: 200px;
  }
}

@media (max-width: 640px) {
  header h1 {
    font-size: 2rem;
    letter-spacing: 4px;
  }
}

@media (max-width: 475px) {
  header h1 {
    letter-spacing: normal;
  }

  .news {
    width: 55%;
  }

  .sources {
    width: 40%;
  }
}
